In [3]:
import sys
sys.path.append('../')
from Attacked_Model.autoencoder_BATADAL import load_AEED
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc, precision_score, recall_score
import pickle
from sklearn.preprocessing import MinMaxScaler
import numpy as np
att_data = pd.read_csv('../Data/BATADAL/attack_10_from_test_dataset.csv')

# define the column sets for the pandas dataframes
xset = [col for col in att_data.columns if col not in ['Unnamed: 0', 'DATETIME', 'ATT_FLAG']]
yset = ['ATT_FLAG']

autoencoder = load_AEED("../Attacked_Model/BATADAL/autoencoder.json", "../Attacked_Model/BATADAL/autoencoder.h5")
scaler = pickle.load(open("../Attacked_Model/BATADAL/scaler.p", "rb"))
with open("../Attacked_Model/BATADAL/theta") as f:
        theta = float(f.read())
import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

../Attacked_Model/BATADAL/autoencoder.h5
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/home/alessando/anaconda3/lib/python3.7/site-packages/sklearn/base.py:253: UserWarning: Trying to unpickle estimator MinMaxScaler from version 0.19.1 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [4]:
def compute_scores(Y, Yhat):
    return [accuracy_score(Y, Yhat), f1_score(Y, Yhat), precision_score(Y, Yhat), recall_score(Y, Yhat)]#, fpr[0]]

# Evaluate Constrained attack over X dimension

In [6]:
results_mean_replay = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
results_mean_white = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
results_mean_black = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
sum_orig = 0
all_results_replay = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
all_results_white = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
all_results_black = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
results_orig = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
for i in range(1,15):
    df_test_01 = pd.read_csv('../Data/BATADAL/attack_'+str(i)+'_from_test_dataset.csv', parse_dates = ['DATETIME'], dayfirst=True)
    X3 = pd.DataFrame(index=df_test_01.index, columns=xset,
                      data=scaler.transform(df_test_01[xset]))    
    Y3 = [1]*len(X3)
    Yhat3, _, _, _ = autoencoder.detect(X3, theta=theta, window=3, average=True)
    
    results_orig.loc[i] = compute_scores(Y3, Yhat3)
    sum_orig = sum_orig + results_orig.loc[i].at['recall']
    results_replay = {}
    results_white = {}
    results_black = {}
    for PLC in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']:
            
     
            replay = pd.read_csv('../Adversarial_Attacks/Replay_Attack/results/BATADAL/constrained_PLC/constrained_'+PLC+'_attack_'+str(i)+
                                        '.csv', dayfirst=True)
            white_box = pd.read_csv('../Adversarial_Attacks/Whitebox_Attack/results/BATADAL/max_constraints_fixed/whitebox_attack_'+str(i)+
                                        '_from_test_dataset'+PLC+'.csv', dayfirst=True)
            black_box = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/BATADAL/AE_PLC_constraint/new_constrained_plc_AE_attack_'+str(i)+
                                    '_from_test_dataset_'+PLC+'.csv', dayfirst=True)
           
            replay = pd.DataFrame(index=replay.index, columns=xset,
                      data=scaler.transform(replay[xset]))
            white_box = pd.DataFrame(index=white_box.index, columns=xset,
                      data=scaler.transform(white_box[xset]))
            black_box = pd.DataFrame(index=black_box.index, columns=xset,
                      data=scaler.transform(black_box[xset]))
            
            Y4 = [1]*len(replay)
            Y5 = [1]*len(white_box)
            Y6 = [1]*len(black_box)
            Yhat4, _, _, _ = autoencoder.detect(replay, theta=theta, window=3, average=True)
            Yhat5, _, _, _ = autoencoder.detect(white_box, theta=theta, window=3, average=True)
            Yhat6, _, _, _ = autoencoder.detect(black_box, theta=theta, window=3, average=True)
            
            results = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
            results.loc['replay'] = compute_scores(Y4, Yhat4)
            results.loc['white'] = compute_scores(Y5, Yhat5)
            results.loc['black'] = compute_scores(Y6, Yhat6)
            
            results_replay[PLC] = results.loc['replay'].at['recall']
            results_white[PLC] = results.loc['white'].at['recall']
            results_black[PLC] = results.loc['black'].at['recall']  
            
            results_mean_replay[PLC] = results_mean_replay[PLC] + results_replay[PLC]
            results_mean_white[PLC] = results_mean_white[PLC] + results_white[PLC]
            results_mean_black[PLC] = results_mean_black[PLC] + results_black[PLC]
    
    all_results_replay.loc[i] =  results_replay   
    all_results_white.loc[i] =  results_white
    all_results_black.loc[i] =  results_black

In [7]:
round(results_orig['recall'].mean(), 2)

0.6

In [8]:
all_results_white

,PLC_1,PLC_2,PLC_3,PLC_4,PLC_5,PLC_6,PLC_7,PLC_8,PLC_9
1,0.990050,0.990050,0.990050,0.990050,0.686567,0.990050,0.990050,0.930348,0.925373
2,0.958763,0.958763,0.948454,0.958763,0.721649,0.958763,0.958763,0.865979,0.845361
3,0.145833,0.137500,0.133333,0.150000,0.129167,0.154167,0.158333,0.150000,0.158333
4,0.186170,0.178191,0.167553,0.202128,0.180851,0.202128,0.202128,0.199468,0.191489
5,0.312500,0.312500,0.137500,0.275000,0.245833,0.258333,0.316667,0.312500,0.312500
6,0.936170,0.936170,0.231383,0.936170,0.936170,0.936170,0.936170,0.936170,0.936170
7,0.929385,0.929385,0.271071,0.929385,0.929385,0.929385,0.929385,0.929385,0.929385
8,0.715302,0.736655,0.459075,0.434164,0.690391,0.697509,0.743772,0.733096,0.718861
9,0.242308,0.238462,0.000000,0.238462,0.238462,0.238462,0.238462,0.238462,0.238462
10,0.177419,0.338710,0.169355,0.290323,0.274194,0.338710,0.338710,0.338710,0.338710
11,0.178862,0.308943,0.203252,0.211382,0.235772,0.308943,0.308943,0.308943,0.243902
12,0.340000,0.357500,0.017500,0.352500,0.327500,0.347500,0.357500,0.352500,0.350000
13,0.993750,0.993750,0.993750,0.993750,0.775000,0.993750,0.993750,0.937500,0.925000
14,0.983193,0.983193,0.773109,0.983193,0.983193,0.983193,0.983193,0.983193,0.983193

In [9]:
round(all_results_white.min(axis=1).mean(), 2)

0.34

In [10]:
all_results_black

,PLC_1,PLC_2,PLC_3,PLC_4,PLC_5,PLC_6,PLC_7,PLC_8,PLC_9
1,0.990050,0.990050,0.990050,0.990050,0.895522,0.990050,0.990050,0.990050,0.985075
2,0.969072,0.958763,0.969072,0.958763,0.927835,0.958763,0.958763,0.969072,0.927835
3,0.241667,0.133333,0.170833,0.154167,0.216667,0.158333,0.158333,0.179167,0.162500
4,0.260638,0.178191,0.212766,0.202128,0.239362,0.202128,0.202128,0.215426,0.204787
5,0.329167,0.316667,0.133333,0.312500,0.370833,0.287500,0.325000,0.341667,0.316667
6,0.936170,0.936170,0.247340,0.936170,0.936170,0.936170,0.936170,0.936170,0.936170
7,0.929385,0.929385,0.384966,0.929385,0.929385,0.929385,0.929385,0.929385,0.929385
8,0.772242,0.747331,0.761566,0.434164,0.761566,0.733096,0.743772,0.758007,0.747331
9,0.242308,0.238462,0.050000,0.238462,0.246154,0.242308,0.238462,0.238462,0.242308
10,0.346774,0.338710,0.338710,0.338710,0.443548,0.338710,0.338710,0.338710,0.338710
11,0.333333,0.333333,0.317073,0.308943,0.422764,0.308943,0.308943,0.341463,0.308943
12,0.362500,0.357500,0.105000,0.357500,0.372500,0.355000,0.357500,0.362500,0.352500
13,0.993750,0.993750,0.993750,0.993750,0.925000,0.993750,0.993750,0.993750,0.978125
14,0.983193,0.983193,0.378151,0.983193,0.983193,0.983193,0.983193,0.983193,0.983193

In [11]:
round(all_results_black.min(axis=1).mean(), 2)

0.39

In [14]:
results_attack = pd.DataFrame(columns=['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
for j in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']:
    results_attack.loc['replay', j] = round(results_mean_replay[j]/14, 2)
    results_attack.loc['white', j] = round(results_mean_white[j]/14, 2)
    results_attack.loc['black', j] = round(results_mean_black[j]/14, 2)

In [15]:
print("Original Recall: "+str(round(sum_orig/14,2)))
print("Recall After Constrained Variables Adversarial Attack")
results_attack

Original Recall: 0.6
Recall After Constrained Variables Adversarial Attack

       PLC_1 PLC_2 PLC_3 PLC_4 PLC_5 PLC_6 PLC_7 PLC_8 PLC_9
replay  0.66  0.66  0.55  0.58  0.64   0.6   0.6  0.63  0.61
white   0.58   0.6  0.39  0.57  0.53   0.6   0.6  0.59  0.58
black   0.62   0.6  0.43  0.58  0.62   0.6   0.6  0.61   0.6