In [1]:
import sys
sys.path.append('../')
from Attacked_Model.autoencoder_BATADAL import load_AEED
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc, precision_score, recall_score
import pickle
from sklearn.preprocessing import MinMaxScaler
import numpy as np
att_data = pd.read_csv('../Data/BATADAL/attack_10_from_test_dataset.csv')

# define the column sets for the pandas dataframes
xset = [col for col in att_data.columns if col not in ['Unnamed: 0', 'DATETIME', 'ATT_FLAG']]
yset = ['ATT_FLAG']

autoencoder = load_AEED("../Attacked_Model/BATADAL/autoencoder.json", "../Attacked_Model/BATADAL/autoencoder.h5")
scaler = pickle.load(open("../Attacked_Model/BATADAL/scaler.p", "rb"))
with open("../Attacked_Model/BATADAL/theta") as f:
        theta = float(f.read())
import warnings
warnings.filterwarnings('ignore')

Using TensorFlow backend.

../Attacked_Model/BATADAL/autoencoder.h5
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/alessando/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/home/alessando/anaconda3/lib/python3.7/site-packages/sklearn/base.py:253: UserWarning: Trying to unpickle estimator MinMaxScaler from version 0.19.1 when using version 0.20.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [2]:
def compute_scores(Y, Yhat):
    return [accuracy_score(Y, Yhat), f1_score(Y, Yhat), precision_score(Y, Yhat), recall_score(Y, Yhat)]#, fpr[0]]

# Evaluate Constrained attack over X dimension

In [5]:
results_mean_replay = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
results_mean_white = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
results_mean_black = {new_list: 0 for new_list in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']}
sum_orig = 0
all_results_replay = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
all_results_white = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
all_results_black = pd.DataFrame(
                           columns= ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
results_orig = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
for i in range(1,15):
    df_test_01 = pd.read_csv('../Data/BATADAL/attack_'+str(i)+'_from_test_dataset.csv', parse_dates = ['DATETIME'], dayfirst=True)
    X3 = pd.DataFrame(index=df_test_01.index, columns=xset,
                      data=scaler.transform(df_test_01[xset]))    
    Y3 = [1]*len(X3)
    Yhat3, _, _, _ = autoencoder.detect(X3, theta=theta, window=3, average=True)
    
    results_orig.loc[i] = compute_scores(Y3, Yhat3)
    sum_orig = sum_orig + results_orig.loc[i].at['accuracy']
    results_replay = {}
    results_white = {}
    results_black = {}
    for PLC in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']:
            
            #if not(PLC == 43):
            replay = pd.read_csv('../Adversarial_Attacks/Replay_Attack/results/BATADAL/constrained_PLC/constrained_'+PLC+'_attack_'+str(i)+
                                        '.csv', dayfirst=True)
            white_box = pd.read_csv('../Adversarial_Attacks/Whitebox_Attack/results/BATADAL/max_constraints_fixed/whitebox_attack_'+str(i)+
                                        '_from_test_dataset'+PLC+'.csv', dayfirst=True)
            black_box = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/BATADAL/AE_PLC_constraint/new_advAE_attack_'+str(i)+
                                    '_from_test_dataset_'+PLC+'.csv', dayfirst=True)
            
            #else:
            #    white_box = pd.read_csv('../Adversarial_Attacks/Whitebox_Attack/results/BATADAL/new_improved_whitebox_attack_'+str(i)+'_from_test_dataset.csv', dayfirst=True)
            #    black_box = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/BATADAL/unconstrained_attack/new_advAE_attack_'+str(i)+'_from_test_dataset.csv', dayfirst=True)
            replay = pd.DataFrame(index=replay.index, columns=xset,
                      data=scaler.transform(replay[xset]))
            white_box = pd.DataFrame(index=white_box.index, columns=xset,
                      data=scaler.transform(white_box[xset]))
            black_box = pd.DataFrame(index=black_box.index, columns=xset,
                      data=scaler.transform(black_box[xset]))
            
            Y4 = [1]*len(replay)
            Y5 = [1]*len(white_box)
            Y6 = [1]*len(black_box)
            Yhat4, _, _, _ = autoencoder.detect(replay, theta=theta, window=3, average=True)
            Yhat5, _, _, _ = autoencoder.detect(white_box, theta=theta, window=3, average=True)
            Yhat6, _, _, _ = autoencoder.detect(black_box, theta=theta, window=3, average=True)
            
            results = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])#,'fpr'])
            results.loc['replay'] = compute_scores(Y4, Yhat4)
            results.loc['white'] = compute_scores(Y5, Yhat5)
            results.loc['black'] = compute_scores(Y6, Yhat6)
            
            results_replay[PLC] = results.loc['replay'].at['accuracy']
            results_white[PLC] = results.loc['white'].at['accuracy']
            results_black[PLC] = results.loc['black'].at['accuracy']  
            
            results_mean_replay[PLC] = results_mean_replay[PLC] + results_replay[PLC]
            results_mean_white[PLC] = results_mean_white[PLC] + results_white[PLC]
            results_mean_black[PLC] = results_mean_black[PLC] + results_black[PLC]
    
    all_results_replay.loc[i] =  results_replay   
    all_results_white.loc[i] =  results_white
    all_results_black.loc[i] =  results_black

In [4]:
results_orig

    accuracy  f1_score  precision    recall
1   0.990050  0.995000        1.0  0.990050
2   0.958763  0.978947        1.0  0.958763
3   0.158333  0.273381        1.0  0.158333
4   0.202128  0.336283        1.0  0.202128
5   0.316667  0.481013        1.0  0.316667
6   0.936170  0.967033        1.0  0.936170
7   0.929385  0.963400        1.0  0.929385
8   0.743772  0.853061        1.0  0.743772
9   0.242308  0.390093        1.0  0.242308
10  0.338710  0.506024        1.0  0.338710
11  0.308943  0.472050        1.0  0.308943
12  0.357500  0.526703        1.0  0.357500
13  0.993750  0.996865        1.0  0.993750
14  0.983193  0.991525        1.0  0.983193

In [6]:
all_results_replay

,PLC_1,PLC_2,PLC_3,PLC_4,PLC_5,PLC_6,PLC_7,PLC_8,PLC_9
1,0.990050,0.990050,0.990050,0.990050,0.636816,0.990050,0.990050,0.985075,0.935323
2,0.969072,0.969072,0.969072,0.969072,0.814433,0.969072,0.958763,0.969072,0.845361
3,0.266667,0.191667,0.354167,0.166667,0.312500,0.158333,0.158333,0.183333,0.212500
4,0.393617,0.188830,0.289894,0.207447,0.279255,0.207447,0.202128,0.220745,0.247340
5,0.558333,0.333333,0.141667,0.366667,0.608333,0.254167,0.316667,0.429167,0.379167
6,0.936170,0.936170,0.114362,0.936170,0.936170,0.936170,0.936170,0.938830,0.938830
7,0.929385,0.929385,0.159453,0.929385,0.943052,0.929385,0.929385,0.929385,0.943052
8,0.790036,0.790036,0.839858,0.434164,0.879004,0.725979,0.743772,0.818505,0.782918
9,0.507692,0.400000,0.138462,0.238462,0.392308,0.242308,0.242308,0.238462,0.315385
10,0.362903,0.580645,0.604839,0.338710,0.669355,0.338710,0.338710,0.338710,0.387097
11,0.195122,0.666667,0.796748,0.276423,0.682927,0.308943,0.308943,0.357724,0.430894
12,0.390000,0.377500,0.190000,0.355000,0.455000,0.360000,0.357500,0.365000,0.362500
13,0.993750,0.993750,0.993750,0.993750,0.578125,0.993750,0.993750,0.993750,0.928125
14,0.983193,0.983193,0.050420,0.983193,0.983193,0.983193,0.983193,0.983193,0.983193

In [7]:
all_results_replay.min(axis=1).mean()

0.29563540990335413

In [5]:
all_results_white

,PLC_1,PLC_2,PLC_3,PLC_4,PLC_5,PLC_6,PLC_7,PLC_8,PLC_9
1,0.990050,0.990050,0.990050,0.990050,0.686567,0.990050,0.990050,0.930348,0.925373
2,0.958763,0.958763,0.948454,0.958763,0.721649,0.958763,0.958763,0.865979,0.845361
3,0.145833,0.137500,0.133333,0.150000,0.129167,0.154167,0.158333,0.150000,0.158333
4,0.186170,0.178191,0.167553,0.202128,0.180851,0.202128,0.202128,0.199468,0.191489
5,0.312500,0.312500,0.137500,0.275000,0.245833,0.258333,0.316667,0.312500,0.312500
6,0.936170,0.936170,0.231383,0.936170,0.936170,0.936170,0.936170,0.936170,0.936170
7,0.929385,0.929385,0.271071,0.929385,0.929385,0.929385,0.929385,0.929385,0.929385
8,0.715302,0.736655,0.459075,0.434164,0.690391,0.697509,0.743772,0.733096,0.718861
9,0.242308,0.238462,0.000000,0.238462,0.238462,0.238462,0.238462,0.238462,0.238462
10,0.177419,0.338710,0.169355,0.290323,0.274194,0.338710,0.338710,0.338710,0.338710
11,0.178862,0.308943,0.203252,0.211382,0.235772,0.308943,0.308943,0.308943,0.243902
12,0.340000,0.357500,0.017500,0.352500,0.327500,0.347500,0.357500,0.352500,0.350000
13,0.993750,0.993750,0.993750,0.993750,0.775000,0.993750,0.993750,0.937500,0.925000
14,0.983193,0.983193,0.773109,0.983193,0.983193,0.983193,0.983193,0.983193,0.983193

In [6]:
all_results_white.min(axis=1).mean()

0.33520569090867475

In [7]:
all_results_black

,PLC_1,PLC_2,PLC_3,PLC_4,PLC_5,PLC_6,PLC_7,PLC_8,PLC_9
1,0.990050,0.990050,0.990050,0.990050,0.865672,0.990050,0.990050,0.980100,0.940299
2,0.958763,0.958763,0.969072,0.958763,0.855670,0.958763,0.958763,0.896907,0.845361
3,0.191667,0.137500,0.162500,0.150000,0.129167,0.158333,0.158333,0.158333,0.158333
4,0.220745,0.180851,0.212766,0.199468,0.180851,0.202128,0.202128,0.202128,0.191489
5,0.329167,0.316667,0.000000,0.312500,0.291667,0.304167,0.316667,0.312500,0.312500
6,0.936170,0.936170,0.353723,0.936170,0.936170,0.936170,0.936170,0.936170,0.936170
7,0.929385,0.929385,0.412301,0.929385,0.929385,0.929385,0.929385,0.929385,0.929385
8,0.846975,0.761566,0.693950,0.434164,0.800712,0.775801,0.743772,0.740214,0.740214
9,0.242308,0.238462,0.023077,0.238462,0.242308,0.242308,0.238462,0.238462,0.238462
10,0.274194,0.338710,0.338710,0.338710,0.338710,0.338710,0.338710,0.338710,0.338710
11,0.308943,0.308943,0.308943,0.300813,0.308943,0.308943,0.308943,0.308943,0.308943
12,0.360000,0.357500,0.047500,0.355000,0.362500,0.355000,0.357500,0.352500,0.352500
13,0.993750,0.993750,0.993750,0.993750,0.875000,0.993750,0.993750,0.978125,0.937500
14,0.983193,0.983193,0.008403,0.983193,0.983193,0.983193,0.983193,0.983193,0.983193

In [8]:
all_results_black.min(axis=1).mean()

0.33930177333304556

In [7]:
results_attack = pd.DataFrame(columns=['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9'])
for j in ['PLC_1','PLC_2', 'PLC_3', 'PLC_4', 'PLC_5', 'PLC_6', 'PLC_7', 'PLC_8', 'PLC_9']:
    results_attack.loc['white', j] = round(results_mean_white[j]/14, 2)
    results_attack.loc['black', j] = round(results_mean_black[j]/14, 2)

In [8]:
print("Original Accuracy: "+str(round(sum_orig/14,2)))
print("Accuracy After Constrained Variables Adversarial Attack")
results_attack

Original Accuracy: 0.6
Accuracy After Constrained Variables Adversarial Attack

      PLC_1 PLC_2 PLC_3 PLC_4 PLC_5 PLC_6 PLC_7 PLC_8 PLC_9
white  0.58   0.6  0.39  0.57  0.53   0.6   0.6  0.59  0.58
black  0.61   0.6  0.39  0.58  0.58  0.61   0.6   0.6  0.59

# Evaluate Constrained Attack over D dimension

In [6]:
results_mean_percentage_reduced = {new_list: [] for new_list in [5, 10, 25, 50, 75]}#['5%', '10%', '25%', '50%', '75%']}
results_percentage_reduced = {}
accuracy = {}
for percentage in [5, 10, 25, 50, 75]:
    accuracy[percentage] = {}
    for seed in [0, 1, 12, 123, 1234, 12345, 123456, 1234567, 12345678, 123456789]:
        for i in range(1,15):
            dataset = pd.read_csv('../Adversarial_Attacks/Black_Box_Attack/results/BATADAL/AE_'+str(percentage)
                                    +'_percent/seed_'+str(seed)+'/new_advAE_attack_'+str(i)+'_from_test_dataset.csv'
                                    , dayfirst=True)
            dataset = pd.DataFrame(index=dataset.index, columns=xset,
                      data=scaler.transform(dataset[xset]))
            Y7  = [1]*len(dataset)
            Yhat7, _, _, _ = autoencoder.detect(dataset, theta=theta, window=3, average=True)
            
            results = pd.DataFrame(
                           columns=['accuracy', 'f1_score', 'precision', 'recall'])
            results.loc['percentage'] = compute_scores(Y7, Yhat7) 
            
            #mean.append()
            
            try:
                  accuracy[percentage]['att_'+str(i)].append(results.loc['percentage'].at['accuracy'])                              
            except:
                accuracy[percentage]['att_'+str(i)] = []
                accuracy[percentage]['att_'+str(i)].append(results.loc['percentage'].at['accuracy'])
    mean=[]
    std = []
    for i in range(1,15):
        mean.append(np.mean(accuracy[percentage]['att_'+str(i)]))
        std.append(np.std(accuracy[percentage]['att_'+str(i)]))
    
    results_mean_percentage_reduced[percentage].append(np.mean(mean))
    results_mean_percentage_reduced[percentage].append(np.mean(std))

results_mean_percentage_reduced=pd.DataFrame.from_dict(results_mean_percentage_reduced, orient='index', columns = ['mean', 'std'])

In [7]:
print("Accuracy after Constrained Attack over D Dimension")
results_mean_percentage_reduced.round(2)

Accuracy after Constrained Attack over D Dimension

    mean   std
5   0.22  0.09
10  0.25  0.09
25  0.16  0.03
50  0.15  0.02
75  0.15  0.02

In [10]:
results_white

{'PLC_1': 0.9831932773109243,
 'PLC_2': 0.9831932773109243,
 'PLC_3': 0.773109243697479,
 'PLC_4': 0.9831932773109243,
 'PLC_5': 0.9831932773109243,
 'PLC_6': 0.9831932773109243,
 'PLC_7': 0.9831932773109243,
 'PLC_8': 0.9831932773109243,
 'PLC_9': 0.9831932773109243}